In [1]:
from pandas_datareader import data
import datetime

In [2]:
data.DataReader?

Signature:
data.DataReader(
    name,
    data_source=None,
    start=None,
    end=None,
    retry_count=3,
    pause=0.1,
    session=None,
    api_key=None,
)
Docstring:
Imports data from a number of online sources.

Currently supports Google Finance, St. Louis FED (FRED),
and Kenneth French's data library, among others.

Parameters
----------
name : str or list of strs
    the name of the dataset. Some data sources (IEX, fred) will
    accept a list of names.
data_source: {str, None}
    the data source ("iex", "fred", "ff")
start : string, int, date, datetime, Timestamp
    left boundary for range (defaults to 1/1/2010)
end : string, int, date, datetime, Timestamp
    right boundary for range (defaults to today)
retry_count : {int, 3}
    Number of times to retry query request.
pause : {numeric, 0.001}
    Time, in seconds, to pause between consecutive queries of chunks. If
    single value given for symbol, represents the pause between retries.
session : Session, default None
    requests.sessions.Session instance to be used
api_key : (str, None)
    Optional parameter to specify an API key for certain data sources.

Examples
----------
# Data from Google Finance
aapl = DataReader("AAPL", "iex")

# Price and volume data from IEX
tops = DataReader(["GS", "AAPL"], "iex-tops")
# Top of book executions from IEX
gs = DataReader("GS", "iex-last")
# Real-time depth of book data from IEX
gs = DataReader("GS", "iex-book")

# Data from FRED
vix = DataReader("VIXCLS", "fred")

# Data from Fama/French
ff = DataReader("F-F_Research_Data_Factors", "famafrench")
ff = DataReader("F-F_Research_Data_Factors_weekly", "famafrench")
ff = DataReader("6_Portfolios_2x3", "famafrench")
ff = DataReader("F-F_ST_Reversal_Factor", "famafrench")
File:      c:\users\vivan\appdata\local\programs\python\python39-32\lib\site-packages\pandas_datareader\data.py
Type:      function

In [3]:
start=datetime.datetime(2020, 10, 11)
end=datetime.datetime(2020, 10, 20)

df=data.DataReader(name="AAPL", data_source="yahoo", start=start,end=end)
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-10-12,125.180000,119.279999,120.059998,124.400002,240226800,124.400002
2020-10-13,125.389999,119.650002,125.269997,121.099998,262330500,121.099998
2020-10-14,123.029999,119.620003,121.000000,121.190002,151062300,121.190002
2020-10-15,121.199997,118.150002,118.720001,120.709999,112559200,120.709999
2020-10-16,121.550003,118.809998,121.279999,119.019997,115393800,119.019997
2020-10-19,120.419998,115.660004,119.959999,115.980003,120639300,115.980003
2020-10-20,118.980003,115.629997,116.199997,117.510002,124423700,117.510002

In [6]:
start=datetime.datetime(2020, 10, 1)
end=datetime.datetime(2020, 10, 22)

df1=data.DataReader(name="SOBHA.NS", data_source="yahoo", start=start,end=end)
df1

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-10-01,230.000000,226.500000,226.699997,227.899994,183655,227.899994
2020-10-05,241.000000,228.500000,228.500000,239.449997,299862,239.449997
2020-10-06,273.000000,250.000000,250.000000,262.049988,2939267,262.049988
2020-10-07,265.000000,254.199997,264.950012,259.049988,305926,259.049988
2020-10-08,268.000000,257.299988,263.950012,266.549988,450004,266.549988
2020-10-09,267.049988,257.750000,267.000000,261.049988,169639,261.049988
2020-10-12,266.450012,259.799988,262.950012,262.200012,287715,262.200012
2020-10-13,264.450012,258.049988,261.850006,260.350006,122536,260.350006
2020-10-14,264.399994,255.000000,264.000000,256.750000,122611,256.750000
2020-10-15,264.950012,248.300003,260.000000,250.300003,276055,250.300003
2020-10-16,260.000000,200.250000,251.649994,258.500000,317608,258.500000
2020-10-19,266.750000,260.049988,260.899994,265.100006,308286,265.100006
2020-10-20,276.350006,260.500000,263.750000,271.500000,793284,271.500000
2020-10-21,317.000000,264.549988,271.899994,301.950012,2541451,301.950012
2020-10-22,311.750000,292.100006,298.549988,309.200012,1353996,309.200012