In [26]:
from pandas_datareader import data
import datetime

In [27]:
data.DataReader?

Signature:
data.DataReader(
    name,
    data_source=None,
    start=None,
    end=None,
    retry_count=3,
    pause=0.1,
    session=None,
    api_key=None,
)
Docstring:
Imports data from a number of online sources.

Currently supports Google Finance, St. Louis FED (FRED),
and Kenneth French's data library, among others.

Parameters
----------
name : str or list of strs
    the name of the dataset. Some data sources (IEX, fred) will
    accept a list of names.
data_source: {str, None}
    the data source ("iex", "fred", "ff")
start : string, int, date, datetime, Timestamp
    left boundary for range (defaults to 1/1/2010)
end : string, int, date, datetime, Timestamp
    right boundary for range (defaults to today)
retry_count : {int, 3}
    Number of times to retry query request.
pause : {numeric, 0.001}
    Time, in seconds, to pause between consecutive queries of chunks. If
    single value given for symbol, represents the pause between retries.
session : Session, default None
    requests.sessions.Session instance to be used
api_key : (str, None)
    Optional parameter to specify an API key for certain data sources.

Examples
----------
# Data from Google Finance
aapl = DataReader("AAPL", "iex")

# Price and volume data from IEX
tops = DataReader(["GS", "AAPL"], "iex-tops")
# Top of book executions from IEX
gs = DataReader("GS", "iex-last")
# Real-time depth of book data from IEX
gs = DataReader("GS", "iex-book")

# Data from FRED
vix = DataReader("VIXCLS", "fred")

# Data from Fama/French
ff = DataReader("F-F_Research_Data_Factors", "famafrench")
ff = DataReader("F-F_Research_Data_Factors_weekly", "famafrench")
ff = DataReader("6_Portfolios_2x3", "famafrench")
ff = DataReader("F-F_ST_Reversal_Factor", "famafrench")
File:      c:\users\vivan\appdata\local\programs\python\python39-32\lib\site-packages\pandas_datareader\data.py
Type:      function

In [28]:
start=datetime.datetime(2020, 10, 11)
end=datetime.datetime(2020, 10, 20)

dfff=data.DataReader(name="AAPL", data_source="yahoo", start=start,end=end)
dfff

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-10-12,125.180000,119.279999,120.059998,124.400002,240226800,124.400002
2020-10-13,125.389999,119.650002,125.269997,121.099998,262330500,121.099998
2020-10-14,123.029999,119.620003,121.000000,121.190002,151062300,121.190002
2020-10-15,121.199997,118.150002,118.720001,120.709999,112559200,120.709999
2020-10-16,121.550003,118.809998,121.279999,119.019997,115393800,119.019997
2020-10-19,120.419998,115.660004,119.959999,115.980003,120639300,115.980003
2020-10-20,118.980003,115.629997,116.199997,117.510002,124423700,117.510002

In [29]:
start=datetime.datetime(2020, 1, 1)
end=datetime.datetime(2020, 10, 23)

df1=data.DataReader(name="SOBHA.NS", data_source="yahoo", start=start,end=end)
df1

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-01,404.399994,398.000000,402.799988,401.299988,94743.0,389.290161
2020-01-02,410.049988,399.649994,402.000000,406.850006,100540.0,394.674072
2020-01-03,412.000000,401.149994,407.000000,404.350006,63951.0,392.248901
2020-01-06,414.799988,399.149994,410.000000,400.799988,368917.0,388.805115
2020-01-07,412.000000,401.000000,409.899994,402.500000,202671.0,390.454254
...,...,...,...,...,...,...
2020-10-19,266.750000,260.049988,260.899994,265.100006,308286.0,265.100006
2020-10-20,276.350006,260.500000,263.750000,271.500000,793284.0,271.500000
2020-10-21,317.000000,264.549988,271.899994,301.950012,2541451.0,301.950012
2020-10-22,311.750000,292.100006,298.549988,309.200012,1354266.0,309.200012
2020-10-23,310.549988,294.000000,307.000000,296.149994,472334.0,296.149994

In [36]:
from pandas_datareader import data
import datetime
from bokeh.plotting import figure, show, output_file


start=datetime.datetime(2020, 1, 1)
end=datetime.datetime(2020, 10, 23)

df=data.DataReader(name="SOBHA.NS", data_source="yahoo", start=start,end=end)
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-01,404.399994,398.000000,402.799988,401.299988,94743.0,389.290161
2020-01-02,410.049988,399.649994,402.000000,406.850006,100540.0,394.674072
2020-01-03,412.000000,401.149994,407.000000,404.350006,63951.0,392.248901
2020-01-06,414.799988,399.149994,410.000000,400.799988,368917.0,388.805115
2020-01-07,412.000000,401.000000,409.899994,402.500000,202671.0,390.454254
...,...,...,...,...,...,...
2020-10-19,266.750000,260.049988,260.899994,265.100006,308286.0,265.100006
2020-10-20,276.350006,260.500000,263.750000,271.500000,793284.0,271.500000
2020-10-21,317.000000,264.549988,271.899994,301.950012,2541451.0,301.950012
2020-10-22,311.750000,292.100006,298.549988,309.200012,1354266.0,309.200012
2020-10-23,310.549988,294.000000,307.000000,296.149994,472334.0,296.149994

In [37]:
def inc_dec(c,o):
    if c > o:
        value="Increase"
    elif c < o:
        value="Decrease"
    else:
        value="Equal"
    return value

df["Status"]=[inc_dec(c,o) for c, o in zip(df.Close, df.Open)]
df["Middle"]=(df.Open+df.Close)/2
df["Height"]=abs(df.Close-df.Open)

In [38]:
df

,High,Low,Open,Close,Volume,Adj Close,Status,Middle,Height
Date,,,,,,,,,
2020-01-01,404.399994,398.000000,402.799988,401.299988,94743.0,389.290161,Decrease,402.049988,1.500000
2020-01-02,410.049988,399.649994,402.000000,406.850006,100540.0,394.674072,Increase,404.425003,4.850006
2020-01-03,412.000000,401.149994,407.000000,404.350006,63951.0,392.248901,Decrease,405.675003,2.649994
2020-01-06,414.799988,399.149994,410.000000,400.799988,368917.0,388.805115,Decrease,405.399994,9.200012
2020-01-07,412.000000,401.000000,409.899994,402.500000,202671.0,390.454254,Decrease,406.199997,7.399994
...,...,...,...,...,...,...,...,...,...
2020-10-19,266.750000,260.049988,260.899994,265.100006,308286.0,265.100006,Increase,263.000000,4.200012
2020-10-20,276.350006,260.500000,263.750000,271.500000,793284.0,271.500000,Increase,267.625000,7.750000
2020-10-21,317.000000,264.549988,271.899994,301.950012,2541451.0,301.950012,Increase,286.925003,30.050018
2020-10-22,311.750000,292.100006,298.549988,309.200012,1354266.0,309.200012,Increase,303.875000,10.650024
2020-10-23,310.549988,294.000000,307.000000,296.149994,472334.0,296.149994,Decrease,301.574997,10.850006

In [39]:
date_increase=df.index[df.Close > df.Open]
date_decrease=df.index[df.Close < df.Open]

In [40]:
# type(date_increase)
# date_decrease

In [41]:
p=figure(x_axis_type='datetime', width=1000, height=300, sizing_mode='scale_width')
p.title.text="Candlestick Chart"
p.grid.grid_line_alpha=0

hours_12=12*60*60*1000

p.segment(df.index, df.High, df.index, df.Low, color="Blue")

p.rect(df.index[df.Status=="Increase"], df.Middle[df.Status=="Increase"], hours_12, df.Height[df.Status=="Increase"], fill_color="#ADFF2F", line_color="black")

p.rect(df.index[df.Status=="Decrease"], df.Middle[df.Status=="Decrease"], hours_12, df.Height[df.Status=="Decrease"], fill_color="#FF0000", line_color="black")

# segments in stock analysis displays the highs and the lows of stocks for particular day

output_file("CS.html")
show(p)